* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

// @import 'styles';
$darkGray: darkgray;

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-col() {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

@mixin grid-display() {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(15, 300px);
  grid-gap: 1.5em;
}

// HEADER //
.header {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1em;
  background-color: $darkGray;
  width: 100%;
}

.hotel-title {
  font-size: xxx-large;
}

.btn-box {
  padding: 3em;
}

.nav-btn {
  margin: 1em;
  font-size: x-large;
  font-weight: bold;
  background: none;
  border: none;

  &:hover {
    color: white;
  }
}

// USER PAGE VIEW //

.user-page {

}

.all-res {
  @include grid-display();
  justify-items: center;
}

img {
  height: 175px;
}

.room-details {
  @include flex-col();
}


.hidden {
  display: none;
}
