// HEADER //
.header {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1em;
  background-color: $background;
  width: 100%;
}

.hotel-title {
  font-size: xxx-large;
}

.btn-box {
  padding: 3em;
}

.nav-btn {
  margin: 1em;
  font-size: x-large;
  font-weight: bold;
  background: none;
  border: none;

  &:hover {
    color: white;
  }
}

// LOGIN PAGE //
.login-page {
  margin-top: 100px;
  @include flex-col();
}

.login-form {
  @include flex-col();
  height: 400px;
  width: 600px;
  border: $grayBorder;
}

.login-margin {
  margin: 2em;
}

// USER PAGE VIEW //
.column {
  @include flex-col();
}

.user-info-box {
  @include flex-col();
  padding: 1em;
  height: 100px;
}

.all-res {
  @include grid-display();
  justify-items: center;
}

img {
  height: 175px;
}


// BOOK ROOM VIEW //
#icon {
  height: 50px;
}

h2 {
  font-size: larger;
}

.book-page {
  @include flex-row();
  justify-content: space-between;
}

.book-room-form {
  @include flex-col();
  border: $grayBorder;
  height: 400px;
  width: 20%;
  padding: 1em;
  margin: 1em;
}

.date-box, .room-type, .search-btn {
  margin: 20px 0;
}

.search-btn {
  width: 200px;
}

.fierce-apology {
  width: 50%;
}

.book-btn {
  margin: 10px;
}

#home {
  margin-top: 10px; 
  width: 50%;
}

.hidden {
  display: none;
}
